body {
    background-color: #fcf9f0de;
}

.nav-logo {
    margin-top: 0.5rem;
}

nav ul li a {
    color: #6a1b9a;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}