body {
    background-color: #fffef2d7;
}

/* --------------Headers and text elements */

h1 {
    margin: 4rem 0 0;
    font-size: 3.2rem;
}

h4 {
    font-size: 1.8rem;
}

/*--------------------- Images */

.woman-reading {
    width: 30%;
    position: relative;
    top:4rem;
}

.book-image {
    display: none;
    width: 40%;
    position: relative;
    top: 12rem;
}

.glasses-image {
    display: none;
    width: 20%;
    position: relative;
    bottom: 1rem;
    right: 4rem;
}

/* --------------Navigation bar */

.nav-logo {
    margin-top: 0.5rem;
    width: 4rem;
}

nav ul li a {
    color: #f50057;
    font-weight: bold;
}

/* -------------- Wrapper containers */

.intro-container {
    padding: 2rem 0 8rem;
    text-align: center;
}

.carousel-wrapper {
    padding: 0.5rem;
    margin: 0 0 4rem;
    background-color: #ee5d5dc5;
}

/* --------------Recently added books carousel */

.carousel-container {
    margin: 6rem auto;
    width: 100%;
}

.carousel {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
}

.carousel-item {
    padding: 0 0 2rem 0;
}


/*-------------------  Search */


.search-container {
    margin: 3rem auto 0;
    padding: 0.5rem;
    border: 0.1rem solid #adaaa1de;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
}

.search-container button {
    margin: 1rem 0 0;
}

.search-container p {
    margin: 1rem 0 0;
    font-weight: bold;
    font-size: 1.2rem;
}
/* --------------Book cards */

.card {
    padding: 1rem;
    margin: 4rem 0 0;
    border-radius: 1rem;
    text-align: center;
}

.vote {
    margin: 2rem 0;
}

.vote-btn {
    display: inline;
    border: none;
    background-color: #fff;
    color: #00695c;
}

hr {
    border-top: 0.15rem solid #004d40;
    border-bottom: none;
    border-radius: 6rem;
    width: 80%;
    margin-top: 8rem;
    margin-bottom: 6rem;
}

.icon-links p{
    text-decoration: none;
    color: #00695c;
    font-weight: bold; 
}

/*--------------------Forms*/

.form-container {
    margin: 6rem auto;
    padding: 2rem;
    border: 0.2rem solid #adaaa1de;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
}

.input-field label {
    color: #686251;
}

/*--------------------Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    margin: 6rem 0 0 0;
    background-color: #ee5d5dc5;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/*---------------------Media queries */

@media screen and (min-width: 768px) {
    .carousel-container {
        width: 80%;
    }
    .search-container {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    .book-image {
        display: inline-block;
    }
    .glasses-image {
        display: inline-block;
    }
    .carousel-container {
        width: 60%;
    }
    .search-container {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .carousel-container {
        width: 40%;
    }
}