body {
    background-color: #fffaefde;
}

/* --------------Headers and text elements */

h1 {
    margin: 4rem 0 0;
    font-size: 3.2rem;
}

h4 {
    font-size: 1.8rem;
}

/* --------------Navigation bar */

.nav-logo {
    margin-top: 0.5rem;
}

nav ul li a {
    color: #7b1fa2;
    font-weight: bold;
}

/* --------------Recently added books carousel */

.carousel-container {
    margin: 6rem 0 0;
}

.carousel {
    width: 80%;
    padding: 2rem;
}

.indicator-item {
    color: #686251;
}


/*-------------------  Search */
.search-container {
    margin: 2rem auto 8rem;
    padding: 1rem;
    border: 0.1rem solid #adaaa1de;
    border-radius: 1rem;
    width: 80%;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
}

.search-container button {
    margin: 2rem 0 0;
}

/* --------------Book cards */

.card {
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
}

.vote {
    margin: 2rem 0;
}

.vote-btn {
    display: inline;
    border: none;
    background-color: #fff;
    color: #686251;
}

hr {
    border-top: 0.15rem solid #9b27b0c5;
    border-bottom: none;
    border-radius: 6rem;
    width: 80%;
    margin-top: 8rem;
    margin-bottom: 6rem;
}


.icon-links p{
    text-decoration: none;
    color: #7b1fa2;
    font-weight: bold; 
}

/*--------------------Forms*/

.form-container {
    margin: 6rem auto;
    padding: 2rem;
    border: 0.2rem solid #adaaa1de;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);
}

.input-field label {
    color: #686251;
}

/*--------------------Footer */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    margin: 6rem 0 0 0;
}

footer a {
    text-decoration: none;
    color: #fff;
}

/*---------------------Media queries */

@media screen and (min-width: 768px) {
    .search-container {
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
 .search-container {
        width: 40%;
    }
}

