{% extends "base.html" %}

{% block content %}
    <div class="intro-container" id="intro-container">
        <div class="row">
            <div class="col s12">
                <h1 class="center-align teal-text text-darken-4">Feminist book site</h1>
                <h2 class="center-align teal-text text-darken-4">Find your new favourite books here - and add books that you want others to read!</h2>
            </div>
            <div class="col s12 l6">
                <img class="woman-reading" src="{{ url_for('static', filename='./images/woman-reading.png') }}" alt="Woman sitting with her legs crossed and reading a book"></div>
                <div class="hide-on-med-and-down col l6">
                        <img class="book-image" src="{{ url_for('static', filename='./images/books-image.png') }}" alt="Pink book with a cover saying 'With books, you can go places!', and some green leaves sticking out of it"></div>

                    </div>
                </div>

                <div class="recent-books-wrapper">

                    <h3 class="teal-text text-darken-4 center-align">Recently added books:</h3>

                    <div class="row">

                        {% for book in new_books %}

                            <div class="col s12 m6 l6 xl4 offset-xl1">
                                <div class="card">
                                    <h4 class="teal-text text-darken-4">{{ book.title }}</h4>
                                    <p class="grey-text text-darken-3">Author:
                                        {{ book.author }}
                                    </p>
                                    <div class="rating">
                                        {% if book.rating == "5" %}
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                        {% elif book.rating == "4" %}
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                        {% elif book.rating == "3" %}
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                        {% elif book.rating == "2" %}
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                        {% else %}
                                            <img src="https://img.icons8.com/fluent/36/000000/star.png" alt="Yellow star"/>
                                        {% endif %}
                                    </div>

                                    <p>
                                        {{ book.description }}</p>
                                </div>
                            </div>


                        {% endfor %}

                    </div>
                </div>


                <div
                    class="search-container white center-align">

                    <!-- Credit for navigation back to specifik part of page for search function:
                        https://stackoverflow.com/questions/35843675/link-to-a-specific-location-in-a-flask-template -->

                    <form action="{{ url_for('search', _anchor='query') }}" method="POST">
                        <div class="row search-row">
                            <div class="col s4">
                                <h4 class="search-heading">Search for book</h4>
                            </div>
                            <div class="col s4">
                                <input type="text" name="query" id="query" minlength="3" class="validate" placeholder="Title or author" required>
                                    <label class="center-align" for="query">Enter search text
                                    </label>
                                </div>
                                <div class="col s4">
                                    <button type="submit" class="btn query-btn" name="action" onclick="changeHeader()">Search</button>
                                </div>

                            </div>
                        </form>

                    </div>

                    <div class="book-wrapper">
                        
                        {% if books.count() > 0 %}
<h3 class="teal-text text-darken-4 center-align" id="book-header">All books</h3>
                            <div class="row book-row">
                                {% for book in books %}

                                    <div class="col s12 m6 l4">
                                        <div class="card-wrapper">
                                            <div class="card">
                                                <h4 class="center-align teal-text text-darken-4">{{ book.title }}</h4>
                                                <p class="teal-text text-darken-4 center-align">Author:
                                                    {{ book.author }}
                                                </p>
                                                <div class="rating center-align">
                                                    {% if book.rating == "5" %}
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                    {% elif book.rating == "4" %}
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                    {% elif book.rating == "3" %}
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                    {% elif book.rating == "2" %}
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                    {% else %}
                                                        <img src="https://img.icons8.com/fluent/32/000000/star.png" alt="Yellow star"/>
                                                    {% endif %}
                                                </div>
                                                <div class="vote">
                                                    <button class="vote-btn upVote">
                                                        <i class="small material-icons">thumb_up</i>
                                                    </button>
                                                    <span>0</span>
                                                    <button class="vote-btn downVote">
                                                        <i class="small material-icons">thumb_down</i>
                                                    </button>

                                                </div>
                                                <p>
                                                    {{ book.description }}</p>
                                                <hr class="card-hr">
                                                    <div class="row icon-links">
                                                        <div class="col s6">
                                                            <a href="{{ url_for('edit_book', book_id=book._id) }}">
                                                                <i class="small material-icons teal-text text-darken-3">create</i>
                                                                <p>Edit book</p>
                                                            </a>
                                                        </div>
                                                        <div class="col s6">

                                                            <button class="delete-btn modal-trigger" data-target="modal1{{ book._id }}">
                                                                <i class="delete-icon small material-icons teal-text text-darken-3">delete</i>
                                                                <br>
                                                                    <span class="delete-txt">
                                                                        Delete book</span>
                                                                </button>
                                                                <!-- Modal Structure -->
                                                                <div id="modal1{{ book._id }}" class="modal">
                                                                    <div class="modal-content">
                                                                        <h4>Are you sure you want to delete this book?</h4>
                                                                        <p>Deleting the book will remove it permanently.</p>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat">Yes</a>
                                                                        <a href="{{ url_for('get_books') }}" class="modal-close waves-effect waves-green btn-flat">No</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                {% else %}
                                    <h4 class="center-align teal-text text-darken-4">No Results Found</h4>
                                {% endif %}
                            </div>


                            <hr>

                                <div class="container center-align">
                                    <div class="row">
                                        <div class="col s4">
                                            <a class="icon-links" href="{{url_for('get_books')}}">
                                                <img class="icon-img" src="https://img.icons8.com/ios/50/00695c/home--v1.png" alt="Icon of house"/>
                                                <p>Home</p>
                                            </a>
                                        </div>
                                        <div class="col s4">
                                            <a class="icon-links" href="{{ url_for('add_book') }}">
                                                <img class="icon-img" src="https://img.icons8.com/ios/50/00695c/add-book.png" alt="Icon of book with plus-sign on cover"/>
                                                <p>Add book</p>
                                            </a>
                                        </div>

                                        <div class="col s4">
                                            <a class="icon-links" href="{{ url_for('contact') }}">
                                                <img class="icon-img" src="https://img.icons8.com/ios/00695c/filled-message.png" alt="Icon of envelope"/>
                                                <p>Contact</p>
                                            </a>
                                        </div>

                                    </div>

                                </div>
                            {% endblock %}
